<mat-tab-group class="destaque" dynamicHeight mat-align-tabs="center" mat-stretch-tabs headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <div class="cmpprincipal mat-elevation-z4">
      <img src="assets/imgbunner/bunnerOff.png">
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <div class="cmpprincipal mat-elevation-z4">
      <img src="assets/imgbunner/BunnerPO.png">
    </div>
  </mat-tab>
</mat-tab-group>
