.destaque{
  margin: 40px;
}


.cmpprincipal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 95%;
  margin: 30px;
  border-radius: 8px;
}

img{
  object-fit: contain;
  object-position: center;
  width: 1250px;
  margin: auto;
  

}
